<!DOCTYPE html>
<html>
    <head><title>회원가입</title></head>
    <body>
        <h1>회원가입</h1>
        <form action="/member_insert" method="POST">
            <table>
                <tr>
                    <td>이름</td><td><input type="text" name="name"></td></tr>
                    <td>주민번호</td><td><input type="text" name="num1">-<input type="password" name="num2"></td></tr>
                    <td>ID</td><td><input type="text" name="id"></td></tr>
                    <td>PASSWORD</td><td><input type="password" name="password"></td></tr>
                    <td><input type="submit" value="회원가입"></td><td><input type="reset" value="reset"></td></tr>
                </tr>
            </table>
        </form>
        </body>
</html>
